@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

#icons{
    margin-right: 20px;
    cursor: pointer;
}

#icon{
padding-left: 35px;
}

.fa-check{
    color: green;
}

.fa-times{
    color: red;
}