<h2 class="display-5 text-white">Billing</h2>
<p class="lead text-white mb-0">Please mark the request complete and enter the bill amount</p>
<hr style="border: none;background-color: rgba(245, 245, 220, 0.11);height: 1px;">

<div *ngIf="adminapproved.length>0;else current_none">
    <form (ngSubmit)="addAmount()" #chatForm="ngForm">
        <table class="table table-secondary table-responsive-md">
            <thead>
                <tr>
                    <th scope="col">No:</th>
                    <th scope="col">Email ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Vehicle</th>
                    <th scope="col">Vehicle No</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Action</th>
                    <th scope="col">Comments</th>
    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of adminapproved;let i= index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{booking.user_email}}</td>
                    <td>{{booking.book_date}}</td>
                    <td>{{booking.book_vehicle}}</td>
                    <td>{{booking.book_vehicleNo}}</td>
                    <td>
                        <input type="text" name="amount" id="amount" #amount="ngModel" [(ngModel)]="item.amount">
                    </td>
                    <td>
                        <button type="submit" (click)="select(booking)" class="btn btn-info" [disabled]="amount.value==null || amount.value ==''">Complete</button>
                    </td>
                    <td>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave your comments here" id="floatingTextarea" name="admincmnts" #name="ngModel" [(ngModel)]="item.booking_admin"></textarea>
                            <!-- <label for="floatingTextarea">Comments</label> -->
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    
</div>
<ng-template #current_none>
    <p class="lead text-white mb-0">No Current Work Request</p>
</ng-template>

<br>