<br>
<br>
<br>
<br>
<br>
<br>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<!-- <br>
		<br>
		<br>
		<br>
		<br>
		<br> -->
		<form (ngSubmit)="userRegister()" #registerForm="ngForm">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" name="name"  #name="ngModel" [(ngModel)]="userData.name" pattern="^[a-zA-Z]+$" required/>
			<div *ngIf="name.errors && (name.invalid && name.touched)">
				<small class="text-danger" *ngIf="name.errors.required">Name is Required</small>
				<small class="text-danger" *ngIf="name.errors.pattern">Name should contain characters only. Space not allowed</small>
			</div>
			<input type="email" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="userData.email" pattern="^([a-zA-Z0-9\.\-]+)@([A-Za-z0-9\-]+)\.([a-z]{2,3})(\.[a-z]{2,3})?$" required/>
			<div *ngIf="email.errors && (email.invalid && email.touched)">
				<small class="text-danger" *ngIf="email.errors.required">Email ID is required</small>
				<small class="text-danger" *ngIf="email.errors.pattern">Invalid Email ID</small>
			</div>
			<input type="password" placeholder="Password" name="pwd" #pwd="ngModel" [(ngModel)]="userData.pwd" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required/>
			<div *ngIf="pwd.errors && (pwd.invalid && pwd.touched)">
				<small class="text-danger" *ngIf="pwd.errors.required" >Password is Required</small>
				<small class="text-danger" *ngIf="pwd.errors.pattern" >Invalid Password. Please Note:-Password should contain minimum 8 characters. It should contain atleast 1 lower case,1 uppercase,1 number and 1 special character</small>
			</div>
			<input type="text" placeholder="Mobile" name="mobile" #mobile="ngModel" [(ngModel)]="userData.mobile" pattern="^[1-9]{1}[0-9]{9}$" required/>
			<div *ngIf="mobile.errors && (mobile.invalid && mobile.touched)">
				<small class="text-danger" *ngIf="mobile.errors.required">Mobile Number is required</small>
				<small class="text-danger" *ngIf="mobile.errors.pattern">Mobile Number must be a valid 10 digit number</small>
			</div>
			<input type="text" placeholder="Address" name="address" #address="ngModel" [(ngModel)]="userData.address" required/>
			<div *ngIf="address.errors && (address.invalid && address.touched)">
				<small class="text-danger" *ngIf="address.errors.required">Email ID is required</small>
			</div>
			<br>
			<button [disabled]="!registerForm.form.valid">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form #userlogin="ngForm" (ngSubmit)="userVerify()">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" name="username" #username="ngModel" [(ngModel)]="User.username" pattern="^([a-zA-Z0-9\.\-]+)@([A-Za-z0-9\-]+)\.([a-z]{2,3})(\.[a-z]{2,3})?$" required/>
			<div *ngIf="username.errors && (username.invalid && username.touched)">
				<small class="text-danger" *ngIf="username.errors.required">Email ID is required</small>
				<small class="text-danger" *ngIf="username.errors.pattern">Invalid Email ID</small>
			</div>
			<!-- {{userlogin.touched}} -->
			<input type="password" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="User.password"  required/>
			<small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
			<a href="#">Forgot your password?</a>
			<button [disabled]="!userlogin.form.valid">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
